<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сжать / изменить / конвертировать изображение</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/app.css') }}">
    <link type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}" rel="shortcut icon">
</head>
<h2>Сжать / изменить / конвертировать изображение</h2>
<p class="form-title">Загрузить изображение и выберете желаемые настройки</p>

<form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file" name="fileUpload" accept="image/*"/>

  <label for="file-upload" id="file-drag">
    <img src="{{ url_for('static',filename='images/download.png') }}" style="width: 50px; height:50px;" id="download-icon">
    <img id="file-image" src="#" alt="Preview" style="display: none;">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div id='please-select-file-div'>Выберете файл или перетащите его сюда</div>
      <div id="notimage-div" style='display: none;'>Неподдерживаемый формат файла!</div>
      <div id='filename-div' style='display: none'>Текущий файл: </div>
      <span id="file-upload-btn" class="btn btn-primary">Выбрать файл</span>
    </div>
  </label>

  <div id="response">
    <h3 id="response-message" style="display: none;"></h3>
    <h3 id="wait_before_redirect" style="display: none;">Вы будете автоматически перенаправлены через 3 секунды...</h3>
  </div>

  <div id="params_div">
    <p>Допустимые форматы: {{ allowed_formats }}</p>
    <h2>Параметры:</h2>

    <p>Высота изображения: <input type="number" min="0" max="2000" value="0" id="width_input" required></p>
      <p>Оставьте 0, если не хотите изменять высоту изображения</p>
    <p>Ширина изображения: <input type="number" min="0" max="2000" value="0" id="height_input" required></p>
      <p>Оставьте 0, если не хотите изменять ширину изображения</p>
    <p>Качество (<span id="quality-value">95%</span>): <input type="range" id="quality-input" name="quality" min="1" max="100" value=95 /></p>
    <p>Оптимизация: <input type='checkbox' name='optimisation-enabled' id='optimisation-checkbox'></p>

    <p>Сохранить как: <select class="btn btn-primary" id="result-format">
        <option value="png">PNG</option>
        <option value="jpeg">JPEG</option>
        <option value="bmp">BMP</option>
      </select>
    </p>
  </div>

  <input type='submit' value='Начать!' class='btn btn-primary submit-button'>
</form>

<script type="text/javascript" src="{{ url_for('static',filename='scripts/jquery.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='scripts/app.js') }}"></script>

</body>
</html>