<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сжать/ изменить размер изображения</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/app.css') }}">
</head>
<body>
<section class="center-section">
    <img src="{{ url_for('static',filename='images/worker.png') }}" class="medium-image">
    <h2>Изображение еще обрабатывается</h2>
    <p>Пожалуйста, подождите...</p>
    <p><h3><a href="javascript:location.reload();">Обновить страницу</a></h3></p>
    <p><h3><a href="/">На главную страницу</a></h3></p>
</section>
</body>
</html>